__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
uv.lock
rlinf/envs/maniskill/assets

# Temporary/debug files
debug_policy_input_images/
obs/
obs.zip
tmp*/
.cursor/
download_model.sh